!**/glob-import/dir/node_modules
.DS_Store
.idea
.idea/
*.cpuprofile
*.local
*.log
logs
/.vscode/
.vscode/
.vscode/*
dist
dist-ssr
explorations
playground-temp
temp
TODOs.md

**/node_modules/**
_node_modules
.pnp.cjs
node_modules
dist
dist-ssr
coverage
*.local
lib
tsconfig.tsbuildinfo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
yarn.lock
pnpm-lock.yaml